* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  margin: auto;
  padding: 0 16px;
  max-width: 1228px;
}

.top-header {
  height: 40px;
  display: flex;
  color: white;
  align-items: center;
  background-color: #290c4f;
  justify-content: space-between;
}

.top-header a {
  color: white;
  transition: 0.2s;
  text-decoration: none;
}

.top-header a:hover {
  color: #e026ee;
}

.phone-number {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-top {
  background-color: #8436e8;
}

.header {
  height: 112px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.header-txt {
  width: 82px;
  height: 34px;
  display: flex;
  color: black;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  background-color: #ffca10;
}

.header > div {
  gap: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-div {
  display: flex;
  gap: 28px !important;
  align-items: center;
  justify-content: center;
}

.header-div p {
  gap: 12px;
  display: flex;
  align-items: center;
}

.div {
  padding: 20px;
  max-width: 356px;
  border-radius: 30px;
  background: linear-gradient(to right, #fd17a1, #a11fce);
}

.phone-numberr {
  display: none;
}

.hero > img {
  width: 100%;
  margin: auto;
  border-radius: 12px;
}

.hero-cards {
  gap: 14px;
  display: grid;
  margin-top: 14px;
  grid-template-columns: repeat(4, 1fr);
}

.hero-card {
  gap: 12px;
  display: flex;
  padding: 16px;
  border-radius: 5px;
  flex-direction: column;
  box-shadow: 0px 15px 20px 0px #0000000d;
}

.hero-card p:hover {
  color: #e026ee;
}

.brands {
  color: white;
  padding-block: 24px;
  background-color: #8436e8;
}

.brands-container {
  display: grid;
  padding-top: 24px;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.brand {
  width: 262px;
  height: 250px;
  font-size: 16px;
  text-align: center;
  border-radius: 30px;
  backdrop-filter: blur(30px);
  background-color: #270a3866;
}

.slimes {
  padding-block: 24px;
}

.slime-cards {
  gap: 23px;
  display: grid;
  padding-top: 14px;
  grid-template-columns: repeat(4, 1fr);
}

.slime-card {
  width: 100%;
  padding: 18px;
  border-radius: 18px;
  box-shadow: 0px 15px 20px 0px #0000000d;
}

.slime-card p {
  color: #1a1a1a;
}

.slimes > p {
  color: #595959;
}

.kit-cards {
  gap: 23px;
  display: grid;
  padding-top: 14px;
  grid-template-columns: repeat(4, 1fr);
}

.kit-card {
  width: 100%;
  padding: 18px;
  border-radius: 18px;
  box-shadow: 0px 15px 20px 0px #0000000d;
}

.delivery {
  padding-block: 24px;
}

.delivery-cards {
  gap: 22px;
  display: grid;
  padding-block: 32px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.delivery-card {
  width: 100%;
}

.video {
  display: flex;
  align-items: center;
}

.about-video {
  display: grid;
  color: white;
  padding: 42px;
  border-radius: 5px;
  grid-template-columns: 1fr 3fr;
  background: linear-gradient(#fd17a1, #a11fce);
}

footer {
  padding-block: 34px;
  background: radial-gradient(#8436e8, #5d26a9, #3d186d, #290c4f);
}

.number {
  display: flex;
  justify-content: space-between;
}

.number p {
  color: white;
}

.footer-txt {
  color: #a890ff !important;
}

.footer button {
  border: none;
  color: black;
  width: 200px;
  height: 42px;
  font-weight: 500;
  border-radius: 30px;
  background-color: #ffca10;
  box-shadow: 0px 4px 10px 0px #2f2f2f33;
  box-shadow: 0px 2px 2px 0px #fff500 inset;
  box-shadow: 0px -2px 2px 0px #41004e40 inset;
}

.logo {
  display: flex;
  justify-content: space-between;
}

.footer-div {
  gap: 24px;
  display: flex;
}

.footer-div p {
  gap: 12px;
  color: white;
  display: flex;
  align-items: center;
}

hr {
  margin-block: 24px;
  border-color: #2c1977;
}

@media (max-width: 1340px) {
  .slime-cards,
  .kit-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1228px) {
  .hero-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .video {
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-video {
    display: flex;
  }

  .about-video-div {
    display: none;
  }

  .delivery-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1080px) {
  .brands-container {
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1020px) {
  .header-div p {
    display: none;
  }
  .slime-cards,
  .kit-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .slime-card,
  .kit-card {
    width: 70%;
    padding: 26px;
  }
}

@media (max-width: 940px) {
  .hero {
    padding-block: 34px;
  }
  .hero-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .delivery-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .brands-container {
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .number {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
  }

  .logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 720px) {
  .top-header {
    display: none;
  }
  .phone-numberr {
    display: block;
  }
  .slime-cards,
  .kit-cards {
    max-width: 90%;
    margin: auto;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .slime-card img,
  .kit-card img {
    width: 90%;
  }
  .logo {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 630px) {
  .hero-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .hero-card {
    width: 70%;
    margin: auto;
  }
  .div p {
    display: none;
  }
}

@media (max-width: 570px) {
  .brands-container {
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .video img {
    width: 100%;
  }
  .footer-div {
    display: grid;
    grid-template-columns: 1fr;
  }

  .number {
    display: grid;
    grid-template-columns: 1fr;
  }
}
